/* INSTRUCTIONS
 *
 * 1) Limit the total width of
 *    the .intro-conent to about half
 *    of it's parent
 *
 * 2) Stop the text from overflowing
 *    out the bottom at small screen
 *    widths
 *
 * You may modify the HTML if needed
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: yellow;

  width: 80%;
  max-width: 750px;
  margin: 0 auto;

  padding: 2em;
  /* height: 100%;  100% is a default one */
}
.intro-content {
  width: 50%; /* child width should be smaller than parent */
}

/* By only remove height: 300px -> 100% is good for smaller screeens but
s we saw, setting a fixed width on an element tends to be a bad idea. Instead we can use percentages, which make our lives easier.

The only issue with this is, at large screens, things can get too big. Thankfully, we have max-width that can help us out.
*/
